/problemas/problema1/nbproject/private/
/problemas/problema2/nbproject/private/
/problemas/problema1/build/
/problemas/JavaApplication3/nbproject/private/
/problemas/problema3/nbproject/private/
/problemas/problema4/nbproject/private/
/problemas/problema5/nbproject/private/
